# Kopiere diese Datei nach ".env" und setze echte Werte.
# ".env" selbst gehoert NICHT ins Git-Repo (siehe .gitignore).
#
# Empfehlung: starkes, zufaelliges Passwort statt "pass", z.B.:
#   openssl rand -base64 24

POSTGRES_USER=signer
POSTGRES_PASSWORD=changeme_use_a_real_secret
POSTGRES_DB=btc
